
p {
    color:blueviolet;
}

li {
    font-family:'Courier New', Courier, monospace;
}

div.nav ul {
border: 2px solid blue;
list-style-type: none;
overflow: hidden;
}

div.nav li {
    float: left;
}

div.nav li a {
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    color: black;
    border: 2px solid black;
    background-color: lavenderblush;
}

div.nav li a:hover {
    color: white;
    background-color: blue;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

